<!doctype html>      
<html>                
<head>                
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/stylesheets/output.css" rel="stylesheet">
</head>               
                      
<body>                
    <div class="bg-gray-100 w-1/12 absolute -z-10" style="height:21rem;left:16.666%"></div>
    <div class="bg-gray-100 w-1/12 absolute -z-10" style="height:21rem;left:33.333%"></div>
    <div class="bg-gray-100 w-1/12 absolute -z-10" style="height:21rem;left:50%"></div>
    <div class="bg-gray-100 w-1/12 absolute -z-10" style="height:21rem;left:66.666%"></div>
    <div class="w-10/12 grid gap-0 grid-cols-10 grid-rows-6">
        <span ></span>
        <div class="h-14 text-center text-lg col-start-2">0900</br><p class="text-xs -mt-2">9am</p></div>
        <div class="h-14 text-center text-lg col-start-3">1000</br><p class="text-xs -mt-2">10am</p></div>
        <div class="h-14 text-center text-lg">1100</br><p class="text-xs -mt-2">11am</p></div>
        <div class="h-14 text-center text-lg">1200</br><p class="text-xs -mt-2">12pm</p></div>
        <div class="h-14 text-center text-lg">1300</br><p class="text-xs -mt-2">1pm</p></div>
        <div class="h-14 text-center text-lg">1400</br><p class="text-xs -mt-2">2pm</p></div>
        <div class="h-14 text-center text-lg">1500</br><p class="text-xs -mt-2">3pm</p></div>
        <div class="h-14 text-center text-lg">1600</br><p class="text-xs -mt-2">4pm</p></div>
        <div class="h-14 text-center text-lg">1700</br><p class="text-xs -mt-2">5pm</p></div>
        <div class="h-14 text-left row-start-2">Monday:</div>
        <div class="h-14 text-left row-start-3">Tuesday:</div>
        <div class="h-14 text-left row-start-4">Wednesday:</div>
        <div class="h-14 text-left row-start-5">Thursday:</div>
        <div class="h-14 text-left row-start-6">Friday:</div>
        {{ html }} 
    </div>
</body>
</html>
